@page "/"

<PageTitle>Pay Your TV License Fee</PageTitle>

<h1>Pay Your TV License Here</h1>
<input placeholder="Refernce Number" @bind="referenceNumber" />
<button @onclick="searchReference">Search Reference Number</button>
<br><br>


Welcome to your new app.
@code 
{
   private string? referenceNumber;

private void searchReference()
    {
        if (!string.IsNullOrWhiteSpace(referenceNumber))
        {
            



            //todoItems.Add(new TodoItem { Id = maxId, Name = newTodo });
            referenceNumber = string.Empty;
        }
    }



}
<SurveyPrompt Title="How is Blazor working for you?" />
