@page "/"

<PageTitle>Pay Your TV License Fee</PageTitle>

<h1>Pay Your TV License Here</h1>
<input placeholder="Reference Number" @bind="referenceNumber" />
<button @onclick="searchReference">Search</button>
<br><br>



@code 
{
   private string? referenceNumber;

private void searchReference()
    {
        if (!string.IsNullOrWhiteSpace(referenceNumber))
        {
            



            //todoItems.Add(new TodoItem { Id = maxId, Name = newTodo });
            referenceNumber = string.Empty;
        }
    }



}
