@page "/contact"
<PageTitle>Contact</PageTitle>
<head></head>

<div class="bg-dark header-image">
<center><img class src="https://burnham-highbridge-tc.gov.uk/wp-content/uploads/2021/06/TVL-Logo-Black.jpg" style="width:600px;height:190px;"></center>
</div>

 <div class>
  <div style="text-align:left">
    <h1 class="fw-bold my-5">Contact Us</h1>
    <p class="fs-3">Send us a message below:</p>
  </div>
  <div class="row">
    <div class="column">
    </div>
    
    <div class="column">
      <form action="/action_page.php">
        <label class="fs-4" for="fname">First Name</label>
        <input class="ms-3 py-2" type="text" id="fname" name="firstname" placeholder="Your name..">
        <label class="ms-4 fs-4" for="lname">Last Name</label>
        <input class="ms-3 py-2" type="text" id="lname" name="lastname" placeholder="Your last name..">
        </form>
        </div>
        

        <label class="mt-5 fs-4" for="subject">Message:</label>
       <textarea class="" id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea> 
        <button class="btn-primary py-2" @onclick="SubmitMessage">Submit</button>

      <div id="container"></div>

  @if (isClicked == true) {
    <div class="alert alert-warning text-center" role="alert">
   Thank you for your message, we aim to respond within 3-5 working days.
    </div>
  }
      
      
    
  </div>
</div> 

@code {
private bool isClicked = false;
private void SubmitMessage(){
isClicked = true;
}
  }
