@page "/payment"
<PageTitle>Payment</PageTitle>

<h1>Payment info</h1>

<h1 class="mb-3 py-3">Pay a fine</h1>
<h2>No personal payment details are held - they are required for payment only and passed to the payment processor.</h2>
<EditForm Model="@paymentDetails" OnValidSubmit="@HandleValidSubmit">
<DataAnnotationsValidator/>
<ValidationSummary/>
<input class="form-control form-control-lg my-3" type="text" placeholder="Name on Card" @bind="paymentDetails.cardName" />
<input class="form-control form-control-lg my-3" type="text" placeholder="Card Number" @bind="paymentDetails.cardNumber" />
<input class="form-control form-control-lg my-3" type="text" placeholder="Expiry Date" @bind="paymentDetails.expDate" />
<input class="form-control form-control-lg my-3" type="text" placeholder="CVC" @bind="paymentDetails.cvc" />
<button type="button" class="btn btn-danger my-4 ms-5 px-3 py-1 fw-bold border border-dark border border-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/SummaryPayment'">Pay Now</button>
</EditForm>

@code
{
  private PaymentDetails paymentDetails = new();
  private void HandleValidSubmit()
  {

  }
}