@page "/payment"
@inject NavigationManager navigationManager
@inject NavigationManager NavManager

<PageTitle>Payment</PageTitle>

<h1 class="mb-3 my-2 py-3 fs-1 fw-bold">Payment</h1>
<div class="lh-lg fs-3 my-3">Enter your payment details below:</div>
<EditForm Model="@paymentDetails" OnValidSubmit="@HandleValidSubmit">
<DataAnnotationsValidator/>
<ValidationSummary/>
<input class="form-control form-control-lg my-5 py-3" type="text" placeholder="Name on Card" @bind="paymentDetails.cardName" />
<input class="form-control form-control-lg my-5 py-3" type="text" placeholder="Card Number" @bind="paymentDetails.cardNumber" />
<input class="form-control form-control-lg my-5 py-3" type="text" placeholder="Expiry Date" @bind="paymentDetails.expDate" />
<input class="form-control form-control-lg my-5 py-3" type="text" placeholder="CVC" @bind="paymentDetails.cvc" />
<button type = "submit" class="btn btn-success my-4 ms-5 px-4 py-2 fw-bold border border-dark border border-3">Check Details</button>
 <button type="button" class="btn btn-danger my-4 ms-5 px-5 py-2 fw-bold border border-dark border border-3" @onclick="SubmitDetails">Pay Now</button>
<p>@check</p>
</EditForm>

@code
{



  private string? check;
  private PaymentDetails paymentDetails = new();

  private void SubmitDetails()
  {
    navigationManager.NavigateTo($"/SummaryPayment/{paymentDetails.cardNumber}");
  }


  private void HandleValidSubmit()
  {
    if(paymentDetails.cardNumber != null && paymentDetails.cardName != null && paymentDetails.expDate != null && paymentDetails.cvc != null)
    {
         check = string.Empty;
    }  
    else 
    {
        check = "Couldn't match your details, please try again.";
    }
  }

}