@page "/Summary/{Id}"

@using System.Text.Json
@using System.Text.Json.Serialization
@inject ITodoItemService todoItemService

<PageTitle>Payment Summary</PageTitle>

<div class="bg-dark header-image">
<center><img class src="https://burnham-highbridge-tc.gov.uk/wp-content/uploads/2021/06/TVL-Logo-Black.jpg" style="width:600px;height:150px;"></center>

<div class="d-flex flex-row justify-content-around py-3 header-sub-bar">
<NavLink class="nav-link" href="/">
<svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" fill="white" class="bi bi-cash mb-2" viewBox="0 0 16 16"> 
  <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
  <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/> </svg>  
  
<span class="mx-3 fs-3 fw-bold text-white header-link1" aria-hidden="true"> Pay Fine </span>
</NavLink>
<NavLink class="nav-link" href="contact">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-chat-left-text" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/> </svg>
                <span class="mx-3 fs-3 fw-bold text-white header-link2" aria-hidden="true">Contact Us</span>
            </NavLink>
</div>
</div>
<div class="text-center">
<h5 class="my-5 fs-4">Please confirm that the details below are correct. <br> If they are correct click the "Pay Now" button, otherwise click "Cancel".</h5>
        <!--<div class="py-5 my-1 lh-lg">
            <u><b><h1>Confirm Your Details:</h1></b></u>
         <div class="d-flex flex-row">-->
        <p class="text-capitalize">
         <div class="fs-4"><b>Name:</b> @todo?.Name <br> 
         <b>Address Line:</b> @todo?.Address1, @todo?.Town, @todo?.PostCode <br></div>
         </p><br>
         </div>
         
       <center>
        <div class="d-flex-column">
        <div class="summary-border">
        <h3 class="py-3 fw-bolder mx-2">Fine amount: <div class="text-danger">£@todo?.FineAmount</div></h3>
        </div>
        
         <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-success my-4 px-4 py-2 mx-5 fw-bold border border-dark border border-3 fs-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/Payment'">Pay Now</button>
        <button type="button" class="btn btn-danger my-4 px-4 py-2 mx-5 fw-bold border border-dark border border-3 fs-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/'">Cancel</button>
        </div>
        </div>
       </center>


@code
{
    [Parameter]
    public string? Id {get; set;}

    public TodoItem? todo {get; set;}

    protected override async Task OnInitializedAsync()
    {
        long id;
        
       if (Int64.TryParse(Id, out id))
       {
            todo = await todoItemService.GetTodoItem(id);
       }
    }
}