@page "/Summary/{Id}"

@using System.Text.Json
@using System.Text.Json.Serialization
@inject ITodoItemService todoItemService

<PageTitle>Payment Summary</PageTitle>

<div class="bg-dark header-image">
<center><img src="https://burnham-highbridge-tc.gov.uk/wp-content/uploads/2021/06/TVL-Logo-Black.jpg"  style="width:600px;height:190px;"></center>
</div>
<h5 class="my-5 fs-4">Please confirm that the details below are correct. <br> If they are correct click the "Pay Now" button, otherwise click "Cancel".</h5>
        <!--<div class="py-5 my-1 lh-lg">
            <u><b><h1>Confirm Your Details:</h1></b></u>
         <div class="d-flex flex-row">-->
        <p class="text-capitalize">
         <div class="fs-4"><b>Name:</b> @todo?.Name <br> 
         <b>Address Line:</b> @todo?.Address1, @todo?.Town, @todo?.PostCode <br></div>
         </p><br>
         
       <center>
        <p class="border border-danger border-4"><h3 class="py-3 fw-bolder mx-5">Fine amount: <div class="text-danger">£@todo?.FineAmount</div></h3></p>
        
        <button type="button" class="btn btn-success my-4 px-4 py-2 mx-5 fw-bold border border-dark border border-3 fs-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/Payment'">Pay Now</button>
        <button type="button" class="btn btn-danger my-4 px-4 py-2 mx-5 fw-bold border border-dark border border-3 fs-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/'">Cancel</button>
       </center>


@code
{
    [Parameter]
    public string? Id {get; set;}

    public TodoItem todo {get; set;}

    protected override async Task OnInitializedAsync()
    {
        long id;
        
       if (Int64.TryParse(Id, out id))
       {
            todo = await todoItemService.GetTodoItem(id);
       }
    }
}