@page "/SummaryPayment"
@page "/SummaryPayment/{CCard}"

@using System.Text.Json
@using System.Text.Json.Serialization
@inject ITodoItemService todoItemService

<PageTitle>Payment Summary</PageTitle>
<div class="bg-dark">
<center><img src="https://burnham-highbridge-tc.gov.uk/wp-content/uploads/2021/06/TVL-Logo-Black.jpg" class="border border-dark border border-3"  style="width:360px;height:150px;"></center>
</div>

<i><h5 class="my-5">Thank you for your payment</h5></i>
       
         <div class="d-flex flex-row">
        <p class="fs-5"></p>
         <div><b>Payment made from card ending in: @CCard</b></div>
         </div>  
        
        <button type="button" class="btn btn-danger my-4 ms-5 px-3 py-1 fw-bold border border-dark border border-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/'">Continue</button>



@code
{
    [Parameter]
    public string? CCard {get; set;}

}