@page "/SummaryPayment"

@using System.Text.Json
@using System.Text.Json.Serialization
@inject ITodoItemService todoItemService

<PageTitle>Payment Summary</PageTitle>

<i><h5 class="my-5">Thank you for your payment</h5></i>
       
         <div class="d-flex flex-row">
        <p class="fs-5">
         <div><b>Payment made from card ending in:</b></div>
         </div>  
        
        <button type="button" class="btn btn-danger my-4 ms-5 px-3 py-1 fw-bold border border-dark border border-3><h3 class="py-4 fw-bolder" onclick="window.location.href ='/'">Continue</button>



@code
{
    [Parameter]
    public string? Id {get; set;}

    public TodoItem todo {get; set;}

    protected override async Task OnInitializedAsync()
    {
        long id;
        
       if (Int64.TryParse(Id, out id))
       {
            todo = await todoItemService.GetTodoItem(id);
       }
    }
}